<p>Olá, <strong style="color: #7159c1;">{{ deliveryman }}</strong>!</p>
<p>Sua entrega foi cancelada.<br />
Devido ao problema "<strong style="color: #7159c1;">{{ problem }}</strong>", que ocorreu na entrega, resolvemos <strong>cancelar</strong> esta encomenda. <br />
Fique tranquilo! Em breve você receberá novas encomendas.</p>


